In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('rentervention_customer.csv')

In [4]:
df = df[['@mattertype','@welcome']] ##extract just matterType and welcome columns
df

            @mattertype                                           @welcome
0              Eviction                               I have been evicted
1               Lockout               I want to talk to a housing advocate
2            Conditions                                          Mediation
3                   NaN                                                esp
4              Eviction                  Landlord gave me 24 hours to move
...                 ...                                                ...
7820  Rental Assistance  My application was refused rental assistance c...
7821  Rental Assistance                                   Rent assissantce
7822           Eviction                                           eviction
7823           Eviction                                           eviction
7824   Security Deposit                                            deposit

[7825 rows x 2 columns]

In [5]:
#separating into separate tables based on value for matterType
eviction = df[df['@mattertype'] == 'Eviction']
lockout = df[df['@mattertype'] == 'Lockout']
conditions = df[df['@mattertype'] == 'Conditions']
rentalassistance = df[df['@mattertype'] == 'Rental Assistance']
securitydeposit = df[df['@mattertype'] == 'Security Deposit']
essentialservices = df[df['@mattertype'] == 'Essential Services']
nomatch = df[df['@mattertype'] == 'No Match']
sealing = df[df['@mattertype'] == 'Sealing']
covid19 = df[df['@mattertype'] == 'COVID-19']
retaliation = df[df['@mattertype'] == 'Retaliation']
discrimination = df[df['@mattertype'] == 'Discrimination']
foreclosure = df[df['@mattertype'] == 'Foreclosure']

In [6]:
eviction.head()

   @mattertype                           @welcome
0     Eviction               I have been evicted
4     Eviction  Landlord gave me 24 hours to move
5     Eviction                           Eviction
6     Eviction    can i be evicted in the winter?
12    Eviction                  five days' notice

In [7]:
# saving as csvs
eviction.to_csv("eviction.csv")
lockout.to_csv("lockout.csv")
conditions.to_csv("conditions.csv")
rentalassistance.to_csv("rentalassistance.csv")
securitydeposit.to_csv("securitydeposit.csv")
essentialservices.to_csv("essentialservices.csv")
nomatch.to_csv("nomatch.csv")
sealing.to_csv("sealing.csv")
covid19.to_csv("covid19.csv")
retaliation.to_csv("retaliation.csv")
discrimination.to_csv("discrimination.csv")
foreclosure.to_csv("foreclosure.csv")